@model DB_s2_1_1.EntityModels.Route
@using DB_s2_1_1.EntityModels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route @Model.Id</h4>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Station id
            </th>
            <th>
                Station name
            </th>
            <th>
                Station city
            </th>
            <th>
                Station order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (RouteStation item in Model.Stations.OrderBy(e => e.StationOrder))
        {
            <tr>
                <td>
                    @item.StationId
                </td>
                <td>
                    @item.Station.Name
                </td>
                <td>
                    @item.Station.City
                </td>
                <td>
                    @item.StationOrder
                </td>
                <td>
                    <a asp-action="EditStation" asp-route-rsId="@item.Id">Edit</a>
                    @if (item.StationOrder == Model.Stations.Count)
                    {
                        <a asp-action="DeleteStation" asp-route-routeId="@Model.Id" asp-route-stationId="@item.StationId"> | Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="AddStation" asp-route-id="@Model.Id">Add station in route</a>
</div>
<hr />
<div>
    <h4>Trains</h4>
</div>
<table class="table">
    
    <thead>
        <tr>
            <th>
                Train id
            </th>
            <th>
                Category
            </th>
            <th>
                Head station id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Train item in Model.Trains)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Category.Name
                    </td>
                    <td>
                        @item.StationId
                    </td>
                    <th>
                        <div>
                            <a asp-action="DeleteTrain" asp-route-routeId="@Model.Id" asp-route-trainId="@item.Id"> Delete</a>
                        </div>
                    </th>
                </tr>
            }
    </tbody>
</table>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
