@model DB_s2_1_1.ViewModel.Routes.RoutesIndex
@using DB_s2_1_1.EntityModels

@{
    ViewData["Title"] = "Routes";
}

<h1>Routes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <input type="hidden" name="Page" value="@Model.PagedRoutes.CurrentPage" />
    <div class="form-actions no-color">
        <p>
            Find by route id:
            <input name="SearchRoute" type="number" min="1" value="@Model.SearchRoute" />
        </p>
    </div>
    <div class="form-actions no-color">
        <p>
            Find by city:
            <input name="SearchCity" type="text" value="@Model.SearchCity" />
        </p>
        <button type="submit" value="Search" class="btn btn-link">Search</button> |
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Num of stations in route
            </th>
            <th>
                First station
            </th>
            <th>
                Last station
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedRoutes.Results)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Stations.Count
                </td>
                @if (item.Stations.Count > 0)
                {
                    <td>@item.Stations.ElementAtOrDefault(0).Station.Name</td>
                    <td>@item.Stations.ElementAtOrDefault(item.Stations.Count - 1)?.Station.Name</td>
                }
                else
                {
                    <th></th>
                    <th></th>
                }

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        @for (int i = Math.Max(Model.PagedRoutes.CurrentPage - 4, 1); i < Model.PagedRoutes.CurrentPage; ++i)
        {
            <button class="btn btn-primary" type="submit" name="Page" value="@i">@i</button>
        }
        <button class="btn btn-primary" type="submit" name="Page" value="@Model.PagedRoutes.CurrentPage" disabled>@Model.PagedRoutes.CurrentPage</button>
        @for (int i = Model.PagedRoutes.CurrentPage + 1; i <= Math.Min(Model.PagedRoutes.CurrentPage + 4, Model.PagedRoutes.PageCount); ++i)
        {
            <button class="btn btn-primary" type="submit" name="Page" value="@i">@i</button>
        }
    </div>
</form>