@model DB_s2_1_1.EntityModels.StationRoad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StationRoad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstStation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondStation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
