@model DB_s2_1_1.ViewModel.Trains.TrainEditing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Train</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Train.RouteId" class="control-label">@Html.DisplayNameFor(model => model.Train.RouteId)</label>
                <select asp-for="Train.RouteId" class="form-control" asp-items="@Model.Routes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Train.StationId" class="control-label">@Html.DisplayNameFor(model => model.Train.Station)</label>
                <select asp-for="Train.StationId" class ="form-control" asp-items="@Model.Stations"></select>
            </div>
            <div class="form-group">
                <label asp-for="Train.CategoryId" class="control-label">@Html.DisplayNameFor(model => model.Train.Category)</label>
                <select asp-for="Train.CategoryId" class ="form-control" asp-items="@Model.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="Train.SeatsQty" class="control-label">@Html.DisplayNameFor(model => model.Train.SeatsQty)</label>
                <input asp-for="Train.SeatsQty" type="number" step="1" min="20" class="form-control" />
                <span asp-validation-for="Train.SeatsQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
