@model DB_s2_1_1.ViewModel.TrainsViewModel
@using DB_s2_1_1.EntityModels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Train</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RouteId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RouteId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatsQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Station)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div>
    <div>
        <h4>Train brigade</h4> |
        <a asp-action="EditBrigade" asp-route-id="@Model.Id">Edit brigade</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>FIO</th>
                <th>Station</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee item in Model.Employees)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                </tr>
                <tr>
                    <td>@item.FIO</td>
                </tr>
                <tr>
                    <td>@item.StationId</td>
                </tr>
            }
        </tbody>
    </table>
</div>
